# Системные файлы
.DS_Store
Thumbs.db

# Виртуальное окружение
venv/
env/
ENV/
.venv/
.pyenv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки IDE
.idea/
.vscode/

# Логи и временные файлы
*.log
*.tmp
*.bak

# Конфигурация окружения
.env
.env.*

# Кеши и скомпилированные файлы
*.sqlite3
*.db
*.egg-info/
*.egg
*.manifest

# Docker (если будет)
docker-compose.override.yml
